---
import type { GetStaticPaths } from "astro";
import VenueDetail from "../../components/venue-detail.astro";
import data from "../../data/index.json"
import AppLayout from "../../layouts/app-layout.astro";
import Button from "../../components/button.astro";
import DirectionsButton from "../../components/directions-button.astro";

export const getStaticPaths = (() => {
  return data.venues.map((venue) => ({
    params: {
      slug: venue.slug,
    },
    props: {
      venue,
    },
  }));
}) satisfies GetStaticPaths;

const { venue } = Astro.props;
---

<AppLayout venue={venue.slug}>
  <div class="header-nav" slot="header">
    <Button class="button--white" href="/"><i class="fa fa-arrow-left"></i>Full schedule</Button>
    <DirectionsButton venue={venue} />
  </div>
  
  <div class="push stack">
    <VenueDetail venue={venue} />
  </div>
  
</AppLayout>

<style>
  .push {
    margin-top: 2rem;
  }
</style>







<script is:inline define:vars={{ venueSlug: venue.slug }}>
  window.__pendingVenue = venueSlug;
</script>

<script>
  import { currentVenue } from "../../helpers/store";
  document.addEventListener('astro:page-load', () => {
    const w = window as any;
    if (w.__pendingVenue) {
      currentVenue.set(w.__pendingVenue);
      w.__pendingVenue = null;
    }
  });
</script>