:root {


  --color-black: #2C2B27;
  --color-white: #FCF9F5;
  --color-red: #D11241;
  --color-green: #68952D;
  --color-beige: #E1D4C1;
  --color-gray: #989083;
  --color-gray-light: #c8c2b8;

  --color-orange: #f29c50;
  --color-orange-light: #f2b705;


  --color-gpg-blue-dark: #4b7ba6;
  --color-gpg-blue-light: #789ebf;

  --color-gpg-green-light: #C0d904;
  --color-gpg-green-dark: #558c03;
  

  --color-white-dark: #efebe5;

  --theme-accent: var(--color-gpg-blue-dark);
  --theme-highlight: var(--color-gpg-blue-light);
  --theme-over-accent: var(--color-white);
  --theme-over-highlight: var(--theme-over-accent);
}

.color-gray-dark {
  color: var(--color-gray-dark);
}

.bg-white {
  background-color: var(--color-white);
}

