.text {
  font-size: 18px;
}

.text-detail {
  font-size: .8rem;
  font-weight: 500;
}

.text-delicate {
  font-weight: 100;
}

strong.text-detail,
.text-detail strong {
  font-weight: 700;
}


.text > * + * {
  margin-top: .75rem;
}

.text > p + :is(h1, h2, h3, h4, h5) {
  margin-top: 2rem;
}

.text p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}


.text a {
  color: var(--color-accent);
  text-decoration: underline;
  transition: color .2s ease-in-out;
  cursor: pointer;
}

.text a:hover {
  color: var(--color-highlight);
}

.text ul, text ol {
  padding: 0rem 1.5rem;
}

.text ul li, text ol li {
  margin-bottom: .5rem;
}

h3 a {
  color: var(--color-black);
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.size-large {
  font-size: 3rem;
}