---
import type { GetStaticPaths } from "astro";
import data from "../../data/index.json";
import ListingDetail from "../../components/listing-detail.astro"
import AppLayout from "../../layouts/app-layout.astro";
import BackToHome from "../../components/back-to-home.astro";
import Button from "../../components/button.astro";


export const getStaticPaths = (() => {
  return data.listings.map((listing) => ({
    params: {
      slug: listing.slug,
    },
    props: {
      listing,
    },
  }));
}) satisfies GetStaticPaths;

const { listing } = Astro.props;

const venue = data.venues.find( venue => venue.slug == listing.venue_id );
---

<AppLayout venue={listing.venue_id}>
  <div class="header-nav" slot="header">
    <Button class="button--white" href="/" ><i class="fa fa-arrow-left"></i> Full Schedule</Button>
    <Button class="button--green" href={`http://www.google.com/maps/dir/?api=1&destination=${venue?.address}&travelmode=transit`} target="directions">GO CAR-FREE <i class="fa fa-arrow-right"></i></Button>
  </div>

  <div class="push stack">
    <ListingDetail listing={listing} />
  </div>
</AppLayout>

<style>
  .push {
    margin-top: 2rem;
  }
</style>


<script is:inline define:vars={{ venueSlug: listing.venue_id }}>
  window.__pendingVenue = venueSlug;
</script>

<script>
  import { currentVenue } from "../../helpers/store";
  document.addEventListener('astro:page-load', () => {
    const w = window as any;
    if (w.__pendingVenue) {
      currentVenue.set(w.__pendingVenue);
      w.__pendingVenue = null;
    }
  });
</script>