---
import Nav from "./nav.astro";
import Header from "./header.astro";
import ListingDetail from "./listing-detail.astro";
import VenueDetail from "./venue-detail.astro";
import ListingList from "./listing-list.astro";

import Map from "./map.astro";
import ResponsiveSheet from "./responsive-sheet.astro";

---

<main id="app" class="app layout-app" data-app>
  <!-- <section class="in-header">
    <Header/>
  </section> -->

  <ResponsiveSheet class="in-list">
    <slot/>
  </ResponsiveSheet>

  
  <section class="in-main">
    <Map />
  </section>
<!-- 
  <section class="in-nav">
    <Nav/>
  </section> -->
</main>

<style>
  .app {
    position: absolute;
    inset: 0px;
    padding: 0px;

    font-family: var(--font-default);
    background: var(--color-white);
    color: var(--color-black);
    overflow: hidden;
  }

  .layout-app {
    display: grid;
  }

  .in-list {
    position: relative;
    /* overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr; */
  }

  .in-main {
    grid-area: main;
    position: relative;
  }

  .in-header {
    grid-area: header;
  }

  @media screen and (max-width: 900px) {
    .layout-app {
      grid-template-rows: min-content 1fr min-content;
      grid-template-areas:
        "header"
        "main"
        "nav";
    }

    .in-list {
      pointer-events: none;
      grid-area: main;
      z-index: 20;
    }

    .in-nav {
      grid-area: unset;
    }
  }

  @media screen and (min-width: 900px) {
    .layout-app {
      grid-template-columns: min(40vw, 450px) 1fr;
      grid-template-rows: min-content 1fr;
      grid-template-areas:
        "header main"
        "list main"
        "nav main";
    }

    .in-list {
      grid-area: list;
    }

    .in-nav {
      grid-area: nav;
    }
  }
</style>

<script>
  import { listen } from "../helpers/events";
  import { currentListingSlug } from "../helpers/store";

  // function setCurrentListingSlug() {
  //   const slug = window.location.hash?.substring(1) || "";
  //   currentListingSlug.set(slug);
  // }

  // listen("hashchange", setCurrentListingSlug);
  // setCurrentListingSlug();
</script>
