<header class="header padding">
  <hgroup>
    <h1>GoPhillyGo<br/><span>Car-Free Routes</span></h1>
    <span>
    provided by
    <a href="https://cleanair.org" title="Clean Air Council">
      <img class="logo" src="/assets/img/cac-logo.png" alt="Clean Air Council Logo"/>
    </a>
    </span>
  </hgroup>
  <slot/>
</header>

<style>
  .header {
    background: var(--color-red);
    color: var(--color-white);

    position: relative;
    overflow: visible;
    line-height: 1.2;
  }

  .header hgroup {
    margin-block: 0.5rem;
  }

  .header h1 {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1;

    span {
      font-weight: 300;
      font-size: 2rem;
    }
  }

  .header h1,
  h2,
  h3 {
    font-weight: 900;
  }

  .header .logo {
    width: 10rem;
    display: inline-block;
  }
</style>

