---
import Listing from "./listing.astro";
import { DateTime } from "luxon";

import DateDisplay from "./date-display.astro";
import StickyHeading from "./sticky-heading.astro";


const { listings } = Astro.props;

const listingsByDay = listings.reduce( (schedules, listing) => {
  if( !listing.date )
    return schedules;

  const date = DateTime.fromISO( listing.date );

  const listingDay = date.toISODate();
  let schedule = schedules.find( schedule => schedule.day == listingDay );

  if( !schedule ) {
    schedule = {
      luxonDate: date,
      day: listingDay,
      displayDay: date.toFormat("EEEE, MMMM d"),
      month: date.toFormat("MMM"),
      date: date.toFormat("d"),
      listings: []
    }
    schedules.push(schedule);
  }

  schedule.listings.push(listing);
  
  return schedules;
}, [])
  .filter( schedule => schedule.luxonDate >= DateTime.now() || schedule.luxonDate.hasSame(DateTime.now(), "day") )
  .toSorted( (a, b) => a.day > b.day ? 1 : -1);


---

  

<div class="listing-list">

  { listingsByDay.map( schedule => 
    <div class="listing-schedule" data-schedule data-date={schedule.day}>
      <StickyHeading class="listing-schedule__date">
        <DateDisplay day={ schedule.day } month={ schedule.month} date={ schedule.date }/>
      </StickyHeading>

      <div class="listing-schedule__listings">
        { schedule.listings.map( listing => <Listing listing={listing}/> ) }
      </div>
    </div> ) }
</div>


<style>

  .listing-schedule {
    display: grid;
    grid-template-rows: min-content 1fr;
    border-radius: 1rem;

    &[hidden] {
      display: none;
    }
  }

  .listing-list {
    background: var(--color-white-dark);
    display: grid;
    gap: .5rem;
  }

  .listing-schedule__date {
    background: var(--color-white);
    padding: 1.5rem;
  }

</style>

<style is:global>

  .listing-schedule__listings > * {
    padding-block: 2rem;
    padding-inline: 1.5rem;
    &:hover {
      background: white;
    }
  }
</style>