---
const { listing } = Astro.props
import routesByVenue from "../data/routes.json"
import TransitSelector from "./transit-selector.astro";


const routes = routesByVenue[listing.venue_id];

const date = (listing.date !== undefined) ? new Date(listing.date) : new Date();
const time = Intl.DateTimeFormat("en-US", {hour: "numeric"}).format(date);
---

<div id={listing.slug} class="listing-compact padding" data-listing={ listing.slug }>

  <a href={`#${listing.slug}`} class="listing-compact__details  stack-tight">
    <div class="listing-compact__group">{ listing.group_name }</div>
    <div class="listing-compact__name">{ listing.name }</div>
    <div class="listing-compact__meta">
      <span class="listing-compact__time">{ time }</span>
      <span>@</span>
      <span class="listing-compact__venue">{ listing.venue }</span>
    </div>

    <div class="listing-compact__transit">
      <span>explore car-free ways to go</span>
      <TransitSelector routes={ routes } />
    </div>

  </a>


</div>


<style>
  .listing-compact {
    background: var(--color-white);
    scroll-margin-top: 1rem;
  } 

  .listing-compact:target {
    background: white;
  }

  .listing-compact__transit {
    display: none;
  }

  .listing-compact:target .listing-compact__transit{
    display: block;
  }

  .listing-compact:not(:last-child) {
    border-bottom: 1px solid var(--color-gray) !important;
  }

  /* .listing-compact__date {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  /* .listing-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .listing-date__month {
      text-transform: uppercase;
      font-weight: 900;
      line-height: 1;
    }

    .listing-date__day {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 1;
    }
  } */

  .listing-compact__details {
    /* background: var(--color-white); */
    color: var(--color-black);
    text-decoration: none;
  }
  
  .listing-compact__group {
    color: var(--color-red);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
  }

  .listing-compact__meta {
    color: var(--color-gray);
    font-weight: 900;
    text-transform: uppercase;
  }

  .listing-compact__name {
    font-weight: 500;
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1;
  }

  .listing-compact__time {
    color: var(--color-black);
  }


</style>