---
import Listing from "./listing.astro";
import { DateTime } from "luxon";

import data from "../data/index.json";

const listingsByDay = data.listings.reduce( (schedules, listing) => {
  if( !listing.date )
    return schedules;

  const date = DateTime.fromISO( listing.date );

  const listingDay = date.toISODate();
  let schedule = schedules.find( schedule => schedule.day == listingDay );

  if( !schedule ) {
    schedule = {
      luxonDate: date,
      day: listingDay,
      displayDay: date.toFormat("EEEE, MMMM d"),
      month: date.toFormat("MMM"),
      date: date.toFormat("d"),
      listings: []
    }
    schedules.push(schedule);
  }

  schedule.listings.push(listing);
  
  return schedules;
}, [])
  .filter( schedule => schedule.luxonDate >= DateTime.now() || schedule.luxonDate.hasSame(DateTime.now(), "day") )
  .toSorted( (a, b) => a.day > b.day ? 1 : -1);


---

<div class="listing-list">
  { listingsByDay.map( schedule => 
    <div class="listing-schedule" data-schedule data-date={schedule.day}>
      <div class="listing-schedule__date padding">
        <time class="listing-date" data-date-display data-date={schedule.day}>
          <span class="listing-date__month">{ schedule.month }</span>
          <span class="listing-date__day">{ schedule.date }</span>
          <span class="listing-date__today">TODAY</span>
        </time>
      </div>

      <div class="listing-schedule__listings">
        { schedule.listings.map( listing => <Listing listing={listing}/> ) }
      </div>
    </div> ) }
</div>


<style>


  .listing-list {
     background: var(--color-beige);
     overflow: auto;
     scroll-behavior: smooth;
     height: 100%;
  }

  .listing-schedule {
    display: grid;
    grid-template-rows: min-content 1fr;
    border-radius: 1rem;
    /* overflow: hidden; */
    /* box-shadow: var(--box-shadow); */

    &[hidden] {
      display: none;
    }
  }

  .listing-schedule__date {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .listing-date {
    
    font-size: 2rem;
    line-height: 1;
    
    

    .listing-date__month {
      text-transform: uppercase;
      font-weight: 300;
    }

    .listing-date__day {
      font-weight: 900;
    }
  }


  .listing-date__today {
    display: none;
    font-weight: 900;
  }

  .is-today {
    .listing-date__month {
      display: none;
    }

    .listing-date__day {
      display: none;
    }
    

    .listing-date__today {
      display: initial;
    }
  }
</style>


<script>
  const dateToday = new Date().toISOString().split("T")[0];
  // const scheduleEls = document.querySelectorAll("[data-schedule]");

  // scheduleEls.forEach( scheduleEl => {
  //   console.log(  scheduleEl.dataset.date, dateToday,  scheduleEl.dataset.date < dateToday)
  //   scheduleEl.toggleAttribute("hidden", scheduleEl.dataset.date < dateToday )
  // })

  const dateEl = document.querySelector("[data-date-display]");
  
  if( dateEl.dataset.date == dateToday ) {
    dateEl.classList.add("is-today");
  }
</script>