---
const { listing } = Astro.props

import ListingInfo from "./listing-info.astro";
---

<div id={listing.slug} class="listing" data-listing={ listing.slug }>
  <a href={`/listings/${listing.slug}`} class="stretched-link" aria-label={listing.name}></a>
  <div class="listing__details stack-tight">
    <ListingInfo listing={listing}/>
  </div>
</div>


<style>
  .listing {
    background: var(--color-white);
    scroll-margin-top: 3rem;
    position: relative;
    padding-block: 2rem;
    padding-inline: 1rem;
  }
</style>
