---
import Listing from "./listing.astro";
import { DateTime } from "luxon";

import data from "../data/index.json";

const listingsByDay = data.listings.reduce( (schedules, listing) => {
  if( !listing.date )
    return schedules;

  const date = DateTime.fromISO( listing.date );

  const listingDay = date.toISODate();
  let schedule = schedules.find( schedule => schedule.day == listingDay );

  if( !schedule ) {
    schedule = {
      day: listingDay,
      displayDay: date.toFormat("EEEE, MMMM d"),
      month: date.toFormat("MMM"),
      date: date.toFormat("d"),
      listings: []
    }
    schedules.push(schedule);
  }

  schedule.listings.push(listing);
  
  return schedules;
}, []).toSorted( (a, b) => a.day > b.day ? 1 : -1);


---

<div class="listing-list">
  { listingsByDay.map( schedule => 
    <div class="listing-schedule">
      <div class="listing-schedule__date padding">
        <time class="listing-date" data-date={schedule.day}>
          <span class="listing-date__month">{ schedule.month }</span>
          <span class="listing-date__day">{ schedule.date }</span>
          <span class="listing-date__today">TODAY</span>
        </time>
      </div>

      <div class="listing-schedule__listings">
        { schedule.listings.map( listing => <Listing listing={listing}/> ) }
      </div>
    </div> ) }
</div>


<style>
  .listing-list {
     background: var(--color-beige);
     overflow: auto;
     scroll-behavior: smooth;
     
  }

  .listing-schedule {
    display: grid;
    grid-template-rows: min-content 1fr;
    border-radius: 1rem;
    /* overflow: hidden; */
    /* box-shadow: var(--box-shadow); */
  }

  .listing-schedule__date {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .listing-date {
    
    font-size: 2rem;
    line-height: 1;
    

    .listing-date__month {
      text-transform: uppercase;
      font-weight: 300;
    }

    .listing-date__day {
      font-weight: 900;
    }
  }



  @media screen and (max-width: 900px) {
    .listing-list {
      height: 50%;
      bottom: 0px;
    }
  }

  .listing-date__today {
    display: none;
    font-weight: 900;
  }

  .is-today {
    .listing-date__month {
      display: none;
    }

    .listing-date__day {
      display: none;
    }
    

    .listing-date__today {
      display: initial;
    }
  }
</style>


<script>
  const dateEl = document.querySelector("[data-date]");
  const dateToday = new Date().toISOString().split("T")[0];
  if( dateEl.dataset.date == dateToday ) {
    dateEl.classList.add("is-today");
  }
</script>