---
import ListingCompact from "./listing-compact.astro";
import { DateTime } from "luxon";

import data from "../data/index.json";




const listingsByDay = data.listings.reduce( (schedules, listing) => {
  if( !listing.date )
    return schedules;

  const date = DateTime.fromISO( listing.date );

  const listingDay = date.toISODate();
  let schedule = schedules.find( schedule => schedule.day == listingDay );

  if( !schedule ) {
    schedule = {
      day: listingDay,
      displayDay: date.toFormat("EEEE, MMMM d"),
      month: date.toFormat("MMM"),
      date: date.toFormat("d"),
      listings: []
    }
    schedules.push(schedule);
  }

  schedule.listings.push(listing);
  
  return schedules;
}, []).toSorted( (a, b) => a.day > b.day ? 1 : -1);

console.log( listingsByDay );

---

<div class="listing-list stack-loose padding">
  { listingsByDay.map( schedule => 
    <div class="listing-schedule">
      <div class="listing-schedule__date">
        <time class="listing-date padding">
          <span class="listing-date__month">{ schedule.month }</span>
          <span class="listing-date__day">{ schedule.date }</span>
        </time>
      </div>

      <div class="listing-schedule__listings">
        { schedule.listings.map( listing => <ListingCompact listing={listing}/> ) }
      </div>
    </div> ) }
</div>


<style>
  .listing-list {
     background: var(--color-beige);
     height: 100%;
     overflow: auto;
     position: absolute; 

     scroll-behavior: smooth;
     
  }

  .listing-schedule {
    display: grid;
    grid-template-columns: 5rem 1fr;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }

  .listing-schedule__date {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    

  }

  .listing-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    

    .listing-date__month {
      text-transform: uppercase;
      font-weight: 900;
      line-height: 1;
    }

    .listing-date__day {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 1;
    }
  }



  @media screen and (max-width: 900px) {
    .listing-list {
      height: 50%;
      bottom: 0px;
    }
  }
</style>