---
import Button from "./button.astro";
import TransitChip from "./transit-chip.astro";
---

<Fragment>
  <figure id="map" class="map" data-map></figure>

  <Button class="map-view-all-button box-shadow" data-map-view-all aria-label="View All Facilities">
    <i class="fa fa-expand"></i><span class="map-view-all-text">&nbsp;View All</span>
  </Button>

  <template id="map-stop-group-stub">
    <div class="map-stop-group" data-transit-chip>

    </div>
  </template>


  <template id="map-marker-stub">
    <TransitChip/>
  </template>


  <template id="map-venue-stub">
    <div
      class="map-venue map-marker"
      data-venue-marker
      data-venue=""
      data-populate="slug: @data-venue"
    >
      <span class="map-marker__label" data-populate="name"></span>
    </div>
  </template>


</Fragment>

<style is:global>
  .map {
    width: 100%;
    height: 100%;
    pointer-events: all;
    background-color: #f2f2f2;
    position: relative;
    z-index: 0;
  }

  .map-view-all-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .map-view-all-text {
    display: none;
  }

  .map-view-all-button:hover .map-view-all-text {
    display: block;
  }

  .map-venue {
    width: 48px;
    height: 48px;
    color: var(--text-color);
    font-family: var(--font-default);
    font-weight: 900;
    text-align: center;
    background-size: contain;
    cursor: pointer;
    z-index: 1;
    

    &::after {
      content: '\f3c5';
      color: var(--color-red);
      display: block;
      font: var(--fa-font-solid);
      width: 100%;
      height: 100%;
      font-size: 48px;
      text-shadow: 0px 5px 0px rgba(0,0,0,.25);
      margin-top: -12px;
    }
  }

  .map-venue[data-current] {
    &::after {
      color: magenta;
    }
  }

  .map-stop-group {
    
    display: grid;
    /* grid-template-columns: repeat(1fr); */
    /* gap: .25rem; */
    /* background: var(--color-white); */
    /* padding: .25rem; */
  }


  .map-marker {
    width: 36px;
    height: 36px;
    background: var(--route-color);
    color: var(--text-color);
    font-family: var(--font-default);
    font-weight: 900;
    text-align: center;
    background-size: contain;
    cursor: pointer;

    .map-marker__text {
      display: block;
      width: calc( 100% - 4px );
      height: calc( 100% - 4px );
      font-size: 18px;
      place-content: center;
      margin: 2px;
    }

    &[data-mode="Bus"] {
      border-radius: 50%;

      .map-marker__text {
        border: 1px solid white;
        border-radius: 50%;
      }
    }

    &[data-mode="Subway"], &[data-mode="Trolley"] {
      border-radius: 5px;

      .map-marker__text {
        border: 1px solid white;
        border-radius: 3px;
      }
    }
  }

  .map-marker[data-alert] {
    width: 32px;
    height: 32px;
    background-image: url("/assets/img/marker-dot-alert.png");
    z-index: 1;
  }

  .map-marker[data-current] {
    background-image: url("/assets/img/marker-current.png");
    width: 32px;
    height: 40px;
    margin-top: -8px;
    z-index: 1;
  }

  .map-marker:hover {
    z-index: 2;
  }

  .map-marker[data-alert][data-current] {
    background-image: url("/assets/img/marker-current-alert.png");
  }

  .map-marker__label {
    font-family: var(--font-default);
    line-height: 1;
    font-weight: 900;
    display: none;
    position: absolute;
    width: max-content;
    max-width: 200px;
    text-wrap: pretty;
    text-align: center;

    left: 50%;
    top: -1rem;
    translate: -50% -100%;
    padding: 0.5rem;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 0.25rem;
  }

  .map-marker__label::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    translate: -50% 50%;
    background: var(--color-white);
    left: 50%;
    bottom: 0px;
  }

  .map-marker:hover .map-marker__label {
    display: block;
  }

  .map-marker[data-current] .map-marker__label {
    display: block;
  }

  .map-marker[data-alert] .map-marker__label {
    background: var(--color-danger);
    color: var(--color-white);
  }

  .map-marker[data-alert] .map-marker__label::after {
    background: var(--color-danger);
  }

  @media screen and (min-width: 900px) {
    .map::after {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 1rem;
      background: linear-gradient(90deg, var(--color-black), transparent);
      opacity: 0.1;
    }
  }
</style>

<script>
  import { data, currentListingSlug } from "../helpers/store";
  import { cloneTemplate, populateWithData } from "../helpers/populate";
  import { decodeRoutePolyline } from "../helpers/maps";
  import { circle } from "@turf/turf";

  const PHILLY_LAT = 39.952583;
  const PHILLY_LON = -75.165222;



  // import listingData from "../data/listing-stops.json";


  
  const PHILLY_CENTER = [PHILLY_LON, PHILLY_LAT];
  

  const maplibregl = window["maplibregl"];
  

  async function initMap() {
    const map = new maplibregl.Map({
      container: "map", // container id
      style:
        "https://api.maptiler.com/maps/0197e64b-47f4-71b6-9770-751526b1f31b/style.json?key=v64Bpd9Og2E4Zm916XUB", // style URL
      center: PHILLY_CENTER,
      attributionControl: false,
    });

    map.setMaxPitch(0);
    map.setMinPitch(0);
    map.touchPitch.disable();
    map.dragRotate.disable();
    map.touchZoomRotate.disableRotation();
    
    map.fitBounds(data.meta.bounds, { padding: 80, duration: 0 });

    return new Promise((res) => {
      map.on("load", async () => {
        res(map);
      });
    });
  }

  async function initVenues(map, data) {
    data.venues.forEach((venue) => {
      const markerEl = cloneTemplate("map-venue-stub");
          
      populateWithData(markerEl, venue)


      // add marker to map
      new maplibregl.Marker({ element: markerEl })
        .setLngLat(venue.coordinates)
        .addTo(map);

    });
  }

  async function initCircle(map) {
    // Add the circle as a GeoJSON source
    map.addSource('location-radius', {
        type: 'geojson',
        data: {}
    });

    // Add a fill layer with some transparency
    map.addLayer({
        id: 'location-radius',
        type: 'fill',
        source: 'location-radius',
        paint: {
            'fill-color': '#8CCFFF',
            'fill-opacity': 0.5
        }
    });

    showRadius(map, PHILLY_CENTER);
  }

  const map = await initMap();

  await initVenues(map, data);

  await initCircle(map);



  function showRadius( map, center ) {
    const radius = .5; // kilometer
    const options = {
        steps: 64,
        units: 'miles'
    };
    const circleData = circle(center, radius, options);
    
    map.getSource('location-radius').setData(circleData);
  }

  async function fetchVenueData(venueSlug) {
    const result = await fetch(`/data/venues/${venueSlug}.json`);
    const data = await result.json();
    return data;
  }


  function setCurrentMarker(venue) {
    const markers = document.querySelectorAll("[data-venue-marker]");
    markers.forEach((marker) => {
      marker.toggleAttribute(
        "data-current",
        marker.matches(`[data-venue="${venue.slug}"]`)
      );
    });
  }


  currentListingSlug.subscribe( slug => {
    const listing = data.listings.find( listing => listing.slug == slug );
    (async() => {
      const venue = await fetchVenueData(listing?.venue_id);

      if(!venue) return;

      document.querySelectorAll("[data-map] [data-transit-chip]").forEach( chip => chip.remove() );

      for( const id in venue.stops )
      {
        const stop = venue.stops[id];
        const groupEl = cloneTemplate("map-stop-group-stub");

        console.log( venue.routes );

        for( const stopRoute of stop.routes ){
          
          const route = venue.routes[stopRoute.route_id];
          // console.log( route_id, route );

          const markerEl = cloneTemplate("map-marker-stub");

          populateWithData(markerEl, route)

          // add marker to map
          groupEl?.appendChild(markerEl);

          break;
      
        }

        new maplibregl.Marker({ element: groupEl })
          .setLngLat(stop.coordinates)
          .addTo(map);

       
      }

      showRadius(map, venue.coordinates);

      setCurrentMarker(venue);

      map.flyTo({
        center: venue.coordinates,
        zoom: 15,
      })
    })()
    



  })

</script>
