<div data-partial>
  <slot/>
</div>


<script>
  
  async function loadPartial(url, target) {
    history.pushState({}, '', url);
    const html = await fetch(url).then(r => r.text());
    const doc = new DOMParser().parseFromString(html, "text/html");
    const styles = [...doc.querySelectorAll('head style')].map(s => s.outerHTML).join('');

    document.querySelector(target).innerHTML = styles + doc.querySelector(target).innerHTML;
  }


  document.addEventListener("click", (e) => {    
    const linkEl = e.target.closest("[data-partial-link]");
    
    if( !linkEl )
      return;

    e.preventDefault();

    console.log("eh");

    loadPartial(linkEl.dataset.partialLink, "[data-partial]");
  })

  window.addEventListener('popstate', () => loadPartial(location.pathname, "[data-partial]"));

</script>

      