---
const { route = {} } = Astro.props;

---

<div
  class="transit-chip"
  data-transit-chip
  data-populate="
    route_color: --route-color, 
    route_text_color: --text-color, 
    mode: @data-mode,
    agency: @data-agency
  "
  data-mode={route.mode}
  data-agency={route.agency}
  style={`
    --route-color: ${route.route_color};
    --text-color: ${route.route_text_color};
  `}
>
  <span class="transit-chip__text" data-populate="route_short_name">{ route.route_short_name }</span>
  <span class="transit-chip__label" data-populate="company_name"></span>
</div>



<style is:global>
 

  .transit-chip {
    min-width: 36px;
    height: 36px;
    background: var(--route-color);
    color: var(--text-color);
    font-family: var(--font-default);
    font-weight: 900;
    place-content: center;
    text-align: center;
    background-size: contain;
    cursor: pointer;

    box-shadow: 0px 5px 0px rgba(0,0,0,.10);

    .transit-chip__text {
      display: block;
      width: calc( 100% - 4px );
      height: calc( 100% - 4px );
      font-size: 18px;
      place-content: center;
      margin: 2px;
    }

    &[data-mode="Bike"] {
      border-radius: 12px;
      min-width: unset;
      width: 24px;
      height: 24px;
      background: #3980C4;
      color: var(--color-white);
      place-content: center;

      .transit-chip__text {
        display: none;
      }


      &::after {
        content: '\f206';
        display: block;
        font: var(--fa-font-solid);
        width: 100%;
        height: 100%;
        font-size: 12px;
        line-height: 24px;
      }
    }


    &[data-mode="Bus"] {
      border-radius: 18px;
      background: var(--route-color);
      color: var(--text-color);
      
      &[data-agency="SEPTA"] {
        background: var(--color-black);
        color: var(--color-white);
      }

      &[data-agency="NJ Transit"] {
        background: var(--color-white);
        color: var(--color-black);
      }

      .transit-chip__text {
        border: 2px solid currentColor;
        border-radius: 16px;
        padding-inline: 10px;
      }
    }

    &[data-mode="Metro"] {
      border-radius: 5px;

      .transit-chip__text {
        /* border: 1px solid white; */
        border-radius: 3px;
      }

    }

    &[data-agency="PATCO"] {
      width: auto;

      .transit-chip__text{
        border: none;
        padding-inline: 5px;
      }
    }

    &[data-agency="Philly Phlash"] {
      width: auto;

      border-radius: 20px;

      .transit-chip__text{
        /* border: none; */
        /* padding-inline: 5px; */
      }
    }

    &[data-mode="Rail"] {
      border-radius: 5px;
      width: 48px;
    }
  }

</style>