---
import TransitChip from "./transit-chip.astro";

const { routes = []} = Astro.props

const modes = [
  {
    mode: "Bike",
    routes: []
  },

  {
    mode: "Bus",
    routes: []
  },
  {
    mode: "Metro",
    routes: []
  },
  {
    mode: "Rail",
    routes: []
  }
]


for( const route_id in routes ) {
  const route = routes[route_id];
  const transit = modes.find( transit => transit.mode == route.mode );
  transit.routes.push( route );
}




---

<div class="transit-selector">
  <div class="transit-selector__modes gap">
    { modes
      .filter( transit => transit.routes.length )
      .map( transit => <button data-transit-mode={ transit.mode }>{transit.mode}</button> )
    }
  </div>

  <div class="transit-selector__routes">
    
    
    { modes
      .filter( transit => transit.routes.length )
      .map( transit => 
      <>
      <h4>{ transit.mode }</h4>
        <div class="transit-selector__transit gap-tight" data-transit-mode={transit.mode}>
          { transit.routes
            .sort( (a, b) => a.route_id - b.route_id )
            .map( route => <TransitChip route={route}/> )
          }
        </div>
        </>
      )
    }
  </div>

</div>

<style>
  .transit-selector__modes {
    display: flex;
    gap: var(--gap);
    display: none;
  }

  .transit-selector__transit {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
</style>