---
import StickyHeading from "./sticky-heading.astro";
import TransitChip from "./transit-chip.astro";

const { routes = [] } = Astro.props

const modes = [
  {
    mode: "Bike",
    routes: []
  },

  {
    mode: "Bus",
    routes: []
  },
  {
    mode: "Metro",
    routes: []
  },
  {
    mode: "Rail",
    routes: []
  }
]


for( const route_id in routes ) {
  const route = routes[route_id];
  const transit = modes.find( transit => transit.mode == route.mode );
  transit.routes.push( route );
}

const groups = [
  {
    mode: "Bike",
    title: "Bikeshare",
    icon: "fa-bicycle",
    agencies: []
  },

  {
    mode: "Bus",
    icon: "fa-bus-simple",
    agencies: []
  },
  {
    mode: "Metro",
    icon: "fa-train-subway",
    agencies: []
  },
  {
    mode: "Rail",
    icon: "fa-train",
    agencies: []
  }
];


for( const route_id in routes ) {
  const route = routes[route_id];
  let mode = groups.find( a => a.mode == route.mode );
  let agency = mode?.agencies.find( a => a.agency == route.agency );

  if( !agency ) {
    agency = {
      agency: route.agency,
      routes: []
    };

    mode?.agencies.push( agency );
  }

  agency.routes.push(route);
}

const modeOrder = ["Bus", "Metro", "Rail", "Bike"];
groups.sort( (a, b) => modeOrder.indexOf(a.mode) - modeOrder.indexOf(b.mode) );

---

<div class="transit-selector ">

    { groups
      .filter( group => group.agencies.length )
      .map( mode => 
      <div class="transit-selector__container">
        <StickyHeading class="transit-selector__mode ">
          <i class={`fa ${mode.icon}`}></i>
          <span>{ mode.title || mode.mode }</span>
        </StickyHeading>
        
        <div class="transit-selector__group padding">
      {
        mode.agencies.map( agency => 
          <div class="transit-selector__agency">
              <h4>{ agency.agency }</h4>
              <div class="transit-selector__transit gap-tight" data-transit-mode={mode.mode}>
                { agency.routes
                  .sort( (a, b) => parseInt(a.route_id) 
                    ? (parseInt(a.route_id) > parseInt(b.route_id) ? 1 : -1) 
                    : (a.route_id > b.route_id ? 1 : -1) 
                  )
                  .map( route => <TransitChip route={route}/> )
                }
              </div>
          </div>
        )
      }
      </div>

        </div>
      )
    }

</div>

<style>

  .transit-selector {
    background: var(--color-white-dark);
  }

  .transit-selector__container {
    margin-bottom: .5rem;
  }

  .transit-selector__group {
    background: var(--color-white);
    display: grid;
    
    & > *:not(:last-child) {
      padding-bottom: 1.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid var(--color-gray-light)
    }
  }


  .transit-selector__transit {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  h4 {
    font-size: 1.2rem;
    display: grid;
    align-content: center;
    font-weight: 900;
  }





  .transit-selector__mode {
    font-size: 2rem;
    line-height: 2rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;


    justify-content: center;

    i {
      /* text-align: center; */
    }
    
    span {
      font-weight: 300;  
    }
    
    
  }



  .transit-selector__transit {
    background: var(--color-white);
  }
</style>