---
import data from "../data/index.json";

const { venue = {} } = Astro.props

const listings = data.listings.filter( listing => listing.venue_id == venue.slug );
console.log( listings );
---

<div>
  
</div>