/* CONSTRAIN */

:is(.content, .content-default, .content-wide, .constrain-full), :is(.constrain, .constrain-default, .constrain-full, .constrain-wide) > * {
  --content-width: 800px;
  --content-margin: 1.5rem;
  max-inline-size: min(100% - 2 * var(--content-margin), var(--content-width));
  margin-inline: auto;
}

.constrain-default > *, .content-default {
  --content-width: 800px;
}

.constrain-wide > *, .content-wide {
  --content-width: 1200px;
}

.constrain-full > *, .content-full {
  --content-width: 100%;
}


.content-flush {
  --content-margin: 0rem;
}

