---
import "../styles/styles.css";

const { title } = Astro.props;
---

<html data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>{title} - Clean Air Council</title>
    <meta
      name="description"
      content="This easy-to-use map can help you plan your car-free route using available public transportation with SEPTA, PATCO, New Jersey Transit, Indego bike share, or finding park-and-ride locations. A project by Clean Air Council."
    />
    <meta name="theme-color" content="rgb(20, 29, 41)" />

    <meta property="og:title" content="GoPhillyGo: Car-Free Routes | Clean Air Council" />
    <meta
      property="og:description"
      content="This easy-to-use map can help you plan your car-free route using available public transportation with SEPTA, PATCO, New Jersey Transit, Indego bike share, or finding park-and-ride locations."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gophillygo.cleanair.org/" />
    <meta property="og:image" content="https://gophillygo.cleanair.org/images/preview.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="GoPhillyGo: Car-Free Routes | Clean Air Council" />
    <meta name="twitter:description" content="This easy-to-use map can help you plan your car-free route using available public transportation with SEPTA, PATCO, New Jersey Transit, Indego bike share, or finding park-and-ride locations." />
    <meta name="twitter:image" content="https://gophillygo.cleanair.org/images/preview.jpg" />
    <meta name="twitter:site" content="@CleanAirCouncil" />

    <link rel="shortcut icon" href="https://cleanair.org/wp-content/themes/cac/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/assets/css/fonts/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts/fontawesome/css/solid.min.css" />

    <script src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css" rel="stylesheet" />
  </head>

  <body>
    <slot />
  </body>
</html>
